.clock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.clock .row1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.clock .row2 {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#time {
  font-family: "Catamaran", sans-serif;
  font-size: 80px;
}
#date {
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
}
#geo {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
#temperature {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
}
#weather {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.welcome {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
  text-align: end;
}
